h1, h2, h3 {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

html {
  height:100%;
}
body {
  min-height:100%;
  background-color: seashell;
}

.panel {
  .well();
  .well-lg();
}

.page-main {
  padding: 20px 20%;
}
